<!-- usuarios.html -->
{% extends 'base.html' %}

{% block title %}
    Usuarios
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-4 mb-3">Listado de Usuarios</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Acción</th> <!-- Nueva columna para seguir al usuario -->
                    </tr>
                </thead>
                <tbody>
                    {% for u in users %}
                        <tr>
                            <td><a href="/publicacionesUsuario/{{u.idUsuario}}">{{u.nombre}}</a></td>
                            <td>{{ u.correo }}</td>
                            <td>
                                {% if current_user != u %} <!-- Evita que un usuario se siga a sí mismo -->
                                    <a href="/seguir_usuario/{{ u.idUsuario }}" class="btn btn-primary">Seguir</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="/menu" class="btn btn-secondary mt-3">Regresar al Menú</a>
    </div>
{% endblock %}